#thumbnail {
    height: 200px;
    object-fit: cover;
}

#add-to-cart-btn:hover {
    background-color: white;
    color: #198754;
    border: 1px solid #198754;
}

.cart-image {
    height: 80px;
    width: 80px;
    border-radius: 10%;
}

#modal-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.no-drink {
    padding-top: 200px;
    padding-bottom: 200px;
    color: #ffad73;
}